<!-- <div class="card" ng-controller="jobcontrol as j" style="width: 18rem;"> -->
<!--   <div class="card-body" ng-repeat="cust in j.customers"> -->
<!--     <h5 class="card-title">{{cust.job_Titile}}</h5> -->
<!--     <h3 class="card-title">{{cust.job_Description}}</h3> -->
<!--     <h5 class="card-title">{{cust.job_Salary}}</h5> -->
<!--     <h5 class="card-title">{{cust.job_Titile}}</h5> -->
<!--     <h5 class="card-title">{{cust.last_Date}}</h5> -->
<!--     <h5 class="card-title">{{cust.posted_Date}}</h5> -->
<!--     <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
<!--     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
<!--     <a href="#" class="card-link">Card link</a> -->
<!--     <a href="#" class="card-link">Another link</a> -->
<!--   </div> -->
<!-- </div> -->



<script>
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
<style>
.mytext {
	color: black;
	font-style: oblique;
}

.card {
	margin-top: 12%;
	max-height: 360px;

	
}

.card-img-top {
	max-height: 120px;
	max-width: :110px;
}

.card-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

</style>
<body>
<div class="container"  ng-controller="jobcontrol as j">
	<div class="row">
		
			<div class="col-4">
				<div class="card" ng-repeat="cust in j.customers">
				

					<div class="card-body">
						<div class="col-12">
							<p class="card-title" data-toggle="tooltip">Job Title:{{cust.job_Titile}}</p>
						</div>
						<div class="col-12">
							<p class="card-text">
								Description :<span class="mytext">{{cust.job_Description}}</span>
							</p>
						</div>
						<div class="col-12">
							<p class="card-text">
								Vaccancy : <span class="mytext">{{cust.no_vaccany}}</span>
							</p>
						</div>
						<div class="col-12">
							
								<p class="card-text">
									Salary:<span class="mytext">{{cust.job_Salary}}</span>
								</p>
							
							
								<p class="card-text">
									Last Date:<span class="mytext"> {{cust.last_Date}}
										</span>
								</p>
							
						</div>


					</div>
				</div>
			</div>
			
			</div>
	</div>
</body>
